.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


#tableGenerated{
    padding-bottom: 50px;
    border: dashed;
    border-width: 20px;
    border-color:#009879;
    background:white;
    flex-grow:2;
    font-size:1.5rem;
    overflow: auto;
    max-height: calc(100vh - 90px);
}

.text-size-button{
    font-size:20px;
}

.faIcon{
    width:30px;
}