.App {
  text-align: center;
  background: white;
  min-height: 100vh;
}

h1{
  margin:0;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}